pdfpages.ins
pdfpages.sty
ppdvipdfm.def
ppdvips.def
ppluatex.def
ppnull.def
pppdftex.def
ppvtex.def
ppxetex.def

pdf-ex.tex
pdf-hyp.tex
pdf-toc.tex

pdfpages.log
pdfpages.aux
pdfpages.out
pdfpages.hd
pdfpages.toc
pdfpages.pdf

auto/*
