pdfpages.ins
pdfpages.sty
ppdvipdfmx.def
ppdvips.def
ppluatex.def
ppnull.def
pppdftex.def
ppvtex.def
ppxetex.def

pdf-ex.tex
pdf-hyp.tex
pdf-toc.tex

pdfpages.log
pdfpages.aux
pdfpages.out
pdfpages.hd
pdfpages.toc
pdfpages.pdf

auto/*
t1.*
t2.*
t3.*

pdfpages-v?.*/

test-files/*.pdf
test-files/*.dvi
test-files/*.log
test-files/*.aux
test-files/*.out
test-files/*.toc
test-files/*.hd
test-files/*.lof
test-files/*.lot

test-files/auto
test-files/results_*
