auto/*
build/*
*.log
*.aux
*.out
*.toc
*.lot
*.lof
*.lol
*.hd

pdfpages.ins
pdfpages.installer
pdfpages.sty
ppdvipdfmx.def
ppdvips.def
ppluatex.def
ppnull.def
pppdftex.def
ppvtex.def
ppxetex.def

pdf-ex.tex
pdf-hyp.tex
pdf-toc.tex

pdfpages.pdf

pdfpages.tds.zip
pdfpages-*.zip

/t?.*
